{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
    <!--h1 class="text-muted text-center"> Bienvenue sur la page d'acceuil  {{   app.user.userName }} </h1-->
    <div class="col-xl-12 col-lg-24">
              <div class="card card-stats mb-4 mb-xl-0" style="background-color:#ffe6e6 !important;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                    <h1 class="text-muted text-center"> Bienvenue à TeamChat {{   app.user.userName }}</h1>
                    </div>
                  </div>
                </div>
              </div> 
              <img src="{{ asset('assets/images/chatvf.png') }}" style="margin-left:30px;" width="1000" height="700" id="img1" alt="test" >
            </div>
{% endblock %}